<div class="container">
  <div data-controller="chart">
    <canvas id="bar-chart" data-chart-target="room8a" data-chart-value="<%= @room_8a.to_json %>" width="500" height="250"></canvas>
    <canvas id="bar-chart" data-chart-target="room8f" data-chart-value="<%= @room_8f.to_json %>" width="800" height="450"></canvas>
    <canvas id="bar-chart" data-chart-target="roomb2" data-chart-value="<%= @room_b2.to_json %>" width="800" height="450"></canvas>
  </div>
</div>
